
// Specific CSS for your home-page

.header {
  background-image: linear-gradient(to right, #FF7E35, #FF3465);
  position: fixed;
  top: 0%;
  width: 100%
  };

.map-area {
  background-color: white;
}

.footer {
  background-image: linear-gradient(to right, #FF7E35, #FF3465);
  position: fixed;
  bottom: 0%;
  width: 100%
};

.header .fas {
font-size: 5vw;
}

.title {
font-size: 5vw;
align: center;
margin-left: 35%;
margin-right: auto;

}

.footer .fas{
  font-size: 3vw;
  text-align: center;
  margin-left: 50%;
}
