// Specific CSS for your home-page

.header {
  background-image: linear-gradient(to right, #FF7E35, #FF3465);
  };

.map-area {
  background-color: white;
}

.footer {
  background-image: linear-gradient(to right, #FF7E35, #FF3465);
};

.header .fas {
font-size: 5vw;
}

.title {
font-size: 5vw;
align: center;
margin-left: 30%;
margin-right: auto;

}
