<div class="info-card">
  <div id="top-detail"></div>
  <form>
    <div class="sticker-box"><i class="fas fa-map-marker-alt sticker"></i><input type="text" name="firstname" placeholder="where are you going?" class="form-box"></div>
    <div class="sticker-box"><i class="fas fa-clock sticker"></i><input type="text" name="firstname" placeholder="how long are you staying?" class="form-box"></div>
    <div class="sticker-box"><i class="fas fa-walking sticker"></i><input type="text" name="firstname" placeholder="minimum walk distance" class="form-box"></div>
    <div><a class="btn" href="#"><span class="button-text">find parking</span></a></div>
  </form>
</div>