<div
  id="map"
  style="width: 100%;"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="info-card">
  <div id="top-detail"></div>
  <%= form_tag places_url, method: :get do %>
    <div class="sticker-box"><i class="fas fa-map-marker-alt sticker"></i><input id="address" type="text" name="address" placeholder="where are you going?" class="form-box"><i class="fas fa-microphone"></i></div>
    <div class="sticker-box"><i class="fas fa-clock sticker"></i><input id="duration" type="text" name="hours" placeholder="how long are you staying?" class="form-box"><i class="fas fa-microphone"></i></div>
    <div class="sticker-box"><i class="fas fa-walking sticker"></i><input id="distance" type="text" name="walking" placeholder="minimum walk distance" class="form-box"><i class="fas fa-microphone"></i></div>
    <div class="btn"><span class="button-text"><input type="submit" value="find parking"></span></div>
  <% end %>

</div>
