.destination-marker {
  background-image: asset-url('destination-marker-icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 32px;
  height: 50px;
  cursor: pointer;
}

.current-location-marker {
  background-image: asset-url('current-location-marker-icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  cursor: pointer;
}